# Load data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
url=('Data/stock_prices.csv')
df=pd.read_csv(url)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1258 entries, 0 to 1257
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           1258 non-null   object
 1   Closing Price  1258 non-null   float64
dtypes: float64(1), object(1)
memory usage: 19.8+ KB

         Date  Closing Price
0  2010-01-04      30.950001
1  2010-01-05      30.959999
2  2010-01-06      30.770000
3  2010-01-07      30.450001
4  2010-01-08      30.660000

In [6]:
pd.to_datetime(df['Date'])
df.head()

         Date  Closing Price
0  2010-01-04      30.950001
1  2010-01-05      30.959999
2  2010-01-06      30.770000
3  2010-01-07      30.450001
4  2010-01-08      30.660000

In [10]:
df=df.set_index('Date')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 1258 entries, 2010-01-04 to 2014-12-31
Data columns (total 1 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Closing Price  1258 non-null   float64
dtypes: float64(1)
memory usage: 19.7+ KB

            Closing Price
Date
2010-01-04      30.950001
2010-01-05      30.959999
2010-01-06      30.770000
2010-01-07      30.450001
2010-01-08      30.660000

In [11]:
df.index

Index(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07', '2010-01-08',
       '2010-01-11', '2010-01-12', '2010-01-13', '2010-01-14', '2010-01-15',
       ...
       '2014-12-17', '2014-12-18', '2014-12-19', '2014-12-22', '2014-12-23',
       '2014-12-24', '2014-12-26', '2014-12-29', '2014-12-30', '2014-12-31'],
      dtype='object', name='Date', length=1258)